<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties version="1.0">
  <!-- <entry key="db.driver">org.apache.derby.jdbc.ClientDriver</entry>
  <entry key="db.url">jdbc:derby://localhost:1527/myeclipse</entry>
  <entry key="db.username">classiccars</entry>
  <entry key="db.password">classiccars</entry> -->
  
  <entry key="db.driver">oracle.jdbc.OracleDriver</entry>
  <entry key="db.url">jdbc:oracle:thin:@Dave-PC:dave</entry>
  <entry key="db.username">dave</entry>
  <entry key="db.password">manager42</entry>
  
  
  <entry key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</entry>
  <entry key="hibernate.show_sql">true</entry>
  <entry key="hibernate.hbm2.ddl.auto">create</entry>
  <entry key="org.hibernate.type">ALL</entry>
  
  <entry key="jndiName">XAOracleDS</entry>

  <entry key="mqBroker.url">tcp://localhost:61616?wireFormat.maxInactivityDuration=0&amp;keepAlive=true</entry>
  <entry key="webService.url">http://localhost:8080/SpringWSProject-0.0.1-SNAPSHOT</entry>
  
</properties>